<div class='container'>
    <div class='row bg-info p-4'>
        <div class='col-md-4'>
            <h4 class='text-white'>Cheerio-Mongo Scraper</h4>
        </div>
        <div class='col-md-2'>
            <a class='text-white font-weight-bold' href="/">Home</a>
        </div>
        <div class='col-md-2'>
            <a class='text-white font-weight-bold' href="/saved">Saved Articles</a>
        </div>
        <div class='col-md-2'>
            <button type='button' id='scrape' class='btn btn-danger'>Scrape New Articles</button>
        </div>
        <div class='col-md-2'>
            <button type='button' id='clear' class='btn btn-danger'>Clear Articles</button>
        </div>

    </div>

    <div class='jumbotron mt-2'>
        <h1>Bringing you News from the Washington Post </h1>
    </div>




    <div class='row'>
        <div class='col-md-12'>
            <span id='articles'>
                {{#each articles}}
                <div>

                    <p><span>Title: {{this.title}}</span></p>
                    <p><span>Link: <a href="{{this.link}}" target="_blank">Click the Link here!</a> </span></p>
                </div>

                {{/each}}
            </span>
        </div>
    </div>
</div>