<div class='container'>
    <div class='row bg-info p-4'>
        <div class='col-md-4'>
            <h4 class='text-white'>Cheerio-Mongo Scraper</h4>
        </div>
        <div class='col-md-2'>
            <a class='text-white font-weight-bold' href="/">Home</a>
        </div>
        <div class='col-md-2'>
            <a class='text-white font-weight-bold' href="/saved">Saved Articles</a>
        </div>
        <div class='col-md-2'>
            <button type='button' id='scrape' class='btn btn-danger'>Scrape New Articles</button>
        </div>
        <div class='col-md-2'>
            <button type='button' id='clear' class='btn btn-danger'>Clear Articles</button>
        </div>

    </div>
    <div class='row mt-3 '>
        <div class='col-md-12'>

            <div class='jumbotron'>

            </div>
        </div>


    </div>
</div>